@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Open+Sans:wght@400;600;700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  /* Colocando a fonte a 10px=62,5% */
  font-size: 62, 5%;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

img {
  cursor: pointer;
}

.container{
    max-width: 1280px;
    width:100%;
    margin: 0 auto;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  color: #777777;
  text-transform: uppercase;
  font-weight: 600;
}

.linksHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.linksHeader a {
  color: inherit;
  margin-right: 20px;
}

.banner, .banner img {
  width: 100%;
}

.your-style{
    padding: 30px;
}

.your-style h1{
    text-align: center;
    font-size: 40px;
}

.your-style article{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 60px;
}

.products{
    display:flex;
    background-color:#c2185b;
    color: white;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 50px;

}

.products h2{

}

.products div{
    display: flex;
    color: black;
  
    margin-top:20px;
}

.card-products{
    background-color: white;
}
